/*Formatações de corpo---------------------------------------------------------------------------------------------------------------------------------------------
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: left;
    align-items: center;
    background: url('imagens/fundo.png')no-repeat;
    background-position: center;
    background-size: cover;

}

.form-box{
    position: relative;
    height: 100vh;
    background: transparent;
    border-right: 1px solid #ffbf00;
    display: flex;
    justify-content: center;
    align-items: center;


}

.row{
    margin-right: 0px;
}

th{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    
}

td{
    text-transform: uppercase;
    font-size: 1.1em;
}

/*Formulario---------------------------------------------------------------------------------------------------------------------------------------------
*/
.logo-beauty-solutions{
    text-align: center;
}

.logo-beauty-solutions img{
    height: 150px;
}

.inputbox{
    position: relative;
    margin: 15px 0;
    width: 400px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: 2px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;

}

.form-value{
    padding: 10px;
}


.form-value h2{
    
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    padding: 18px;
}
/*imagens do formulario---------------------------------------------------------------------------------------------------------------------------------------------
*/

.inputbox i{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

/*Botões---------------------------------------------------------------------------------------------------------------------------------------------
*/

.custom-btn a{
    padding: 10px 0 ;
    width: 175px;
    height: 70px;
    background-color: transparent;
    text-align: center;
    margin:10px 15px;
    color: white;  
    text-shadow: 2px 2px 2px #000;
        
}

.custom-btn .selecionado{
    border: 2px solid #ffbf00;

}

.a{
    color: white;
}

.btn img{
    height: 30px;
}

.btn{
    color: white;
}


.custom-btn a:hover{
    color: white;
}   

.custom-btn .alternativa:hover{
    background-color: #ffbf00;
    border: 2px solid white;
}

.btn-login{
    background-color: #ffbf00;
    padding: 5px;
    width: 100%;
    color: #000;
    font-size: 1.2em;
    border-radius: 0.50rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-login:hover{
    background-color: #ffbf00;
    padding: 5px;
    width: 100%;
    color: white;
    font-size: 1.2em;
    border-radius: 0.50rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #000;
    border: 2px solid white;
}

/*Tratamento de erros----------------------------------------------------------------------------------------------------------------------------------------------------
*/

.exception{
    color: white;
    padding: 5px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.exception2{
    color: #000;
    padding: 5px;
    text-align: left;

}



.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-control-erro {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid red;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

/*redirecionar para cadastro---------------------------------------------------------------------------------------------------------------------------------------------
*/

.create-account{
    color: white;
    text-shadow: 2px 2px 2px #000;
}

.create-account a{
    color: #ffbf00;
    text-decoration: none;
}

.create-account a:hover{
    color: #ffbf00;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #000;
}

/*area ilustrativa--------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.custom-box{
    display: flex;

}

.perfil{
    display: flex;
    align-items: center;
    background: url('imagens/background-logo.png')no-repeat center;
    background-size: 90%;
    position: relative;
    width: 100%;
    height: 100%;
}

/*Menu inicial*-----------------------------------------------------------------------------------------------------------------------------------------------------------
*/
#corpo-menu-inicial {
    display: flex;
    justify-content: left;
    align-items: end;
    background: url('imagens/fundo-menu-inicial.png')no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}

/*Menu de navegação / menu inicial*-------------------------------------------------------------------------------------------------------------------------------------------
*/

nav.navbar-transparente {
	background: rgba(0, 0, 0, 0.8);
	height: 100px;
    border: 1px solid;
}

.navbar-dark .navbar-nav .nav-link{
	text-shadow: 3px 3px 3px black;
    color: #fff;
    font-size: 1.3em;
    padding: 0px 54px;
    text-transform: uppercase;

}

.navbar-dark .navbar-nav .nav-link:hover{
	text-shadow: 3px 3px 3px black;
    color: #ffbf00;
    font-size: 1.3em;
    text-transform: uppercase;

}

.navbar-dark .navbar-nav .nav-link:active{
	text-shadow: 3px 3px 3px black;
    color: #ffbf00;
    font-size: 1.3em;
    text-transform: uppercase;

}

.msg-recepcao{
    position: relative;
    text-shadow: 3px 3px 3px black;
    color: #fff;
    font-size: 1.3em;
    padding: 0px 54px;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 9%;
}

.msg-recepcao-a{
    color: #ffbf00;
    
}
.msg-recepcao-a:hover{
    color: #ffbf00;
    text-decoration: none;
}

.navbar-nav{
    position: relative;
    margin: 0px auto;
    margin-left: 10%;
    padding-bottom: 5px;

}

.navbar-nav a{
    margin: 0px 10px;
}

.navbar-brand{
    position: relative;
    background: url('imagens/logo.png')no-repeat;
    background-position: center;
    background-size: 70%;
    height: 80px;
    bottom: 12%;
    margin-left: 11%;
}

.navbar-brand h2{
    position: relative;
    left: -999px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #000;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-shadow: none;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    color: #ffbf00;
    text-decoration: none;
    background-color: #000;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    /*right: 15%;*/
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1.1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    font-weight: bold;
  }

  

  .active{
    color: #ffbf00 !important;
  }

  .fa-solid, .fas {
    font-weight: 900;
    padding-right: 5px;

}

 .fa-user {
    font-weight: 900;
    padding-right: 9px;

}

/*serviços / menu inicial*-------------------------------------------------------------------------------------------------------------------------------------------
*/
.conteudo-servicos{
	text-align: justify;
	word-wrap: break-word;
	background-color: #000;
	border: 5px solid #fff;
	font-weight: bold;
    max-width: 24%;
    transition: border 0.5s;
    cursor: pointer;
    overflow: hidden;
}

.conteudo-servicos:hover{
    border: 5px solid #ffbf00;
    height: 100%;
}


/*botoes / serviços / menu inicial*-------------------------------------------------------------------------------------------------------------------------------------------
*/
.botao-imagens-menu-1 {
    position: relative;
    background: url('imagens/imagem-cabelo.PNG')no-repeat;
    background-size: 100%;
    min-height: 230px;
    /*min-width: 469.75px;*/
    min-width: 100%;
    transition: min-height 0.2s;
    display: inline-block; 
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}



.botao-imagens-menu-2{
    position: relative;
    background: url('imagens/imagem-unha.PNG')no-repeat;
    background-size: 100%;
    min-height: 230px;
    /*min-width: 469.75px;*/
    min-width: 100%;
    transition: min-height 0.2s;
    display: inline-block; 
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}



.botao-imagens-menu-3{
    position: relative;
    background: url('imagens/imagem-maquiagem.PNG')no-repeat;
    background-size: 100%;
    min-height: 230px;
    /*min-width: 469.75px;*/
    min-width: 100%;
    transition: min-height 0.2s;
    display: inline-block; 
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

/*Titulos / serviços / menu inicial*-------------------------------------------------------------------------------------------------------------------------------------------
*/

.botao-imagens-menu-1:hover,.botao-imagens-menu-2:hover, .botao-imagens-menu-3:hover{
    min-height: 245px;
    background-size: cover;
}

.conteudo-titulo-servicos-1,.conteudo-titulo-servicos-2,.conteudo-titulo-servicos-3{
    text-shadow: 3px 3px 3px black;
    text-align: center;
    color: #ffbf00;
    text-transform: uppercase;
}

.conteudo-titulo-servicos-1{
    right: 1.3%;
}

.conteudo-titulo-servicos-3{
    left: 1.3%;
}




/*MENU_INICIAL_PROFISSIONAL----------------------------------------------------------------------------------------------------------------------------------------------
*/
.table {
    width: 100%;
    background-color: #fff;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

.caixa-funcionamento{
    text-shadow: 2px 2px 2px black;
	padding: 5px;
	min-height: 300px;
	border: 2px solid #ffbf00;
	min-width: 250px;
	background-color: #292929;
}

.caixa-funcionamento-localizacao{
    text-shadow: 2px 2px 2px black;
	padding: 5px;
	min-height: 89vh;
	min-width: 250px;
	background-color: transparent;
}

.caixa-funcionamento-listar{
	border: 5px solid #ffbf00;
}

.conteudo-funcionamento{
	padding: 15px;
    color: #fff;
	text-align: justify;
	word-wrap: break-word;
    text-transform: uppercase;
    font-size: 1.2em;


}

.conteudo-funcionamento h4{
    text-align: center;
    font-size: 1.4em;
}

.conteudo-funcionamento i{
    display: block;
    text-align: center;
    font-size: 3em;
    margin: 0px auto;
    padding-bottom: 15px;
}

.conteudo-alinhamento{
	padding: 10px;
	
}

.conteudo-titulo-funcionamento{
	color: #ffbf00;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
    margin-bottom: 20px;

    
}

.espacamento-table{
    width: 550px;
    height: 50px;
}

/*editarCadastroProfissional----------------------------------------------------------------------------------------------------------------------------------------------
*/

.espacamento-cadastro-funcionario{
    padding-bottom: 30px ;

}

.btn-cadastro-funcionario{
    font-size: 1.2em;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    background-color: #ffbf00;
    width: 220px;
}

/*Configuração do mapa*-------------------------------------------------------------------------------------------------------------------------------------------
*/
#map {
    width: 100%;
    height: 70vh;
    border: 3px solid #ffbf00;
  }

/*Media queries/ responsividade*-------------------------------------------------------------------------------------------------------------------------------------------
*/


/*Celulares, tablets*/
@media (max-width: 1024.99px){

  /*Barra de navegação------------------------------------------------------------------------------------------------------------------------------------------
  */
  .navbar-dark .navbar-nav .nav-link{
    text-shadow: 3px 3px 3px black;
    color: #fff;
    font-size: 0.7em;
    padding: 0px 54px;
    text-transform: uppercase;

}

.navbar-dark .navbar-nav .nav-link:hover{
	text-shadow: 3px 3px 3px black;
    color: #ffbf00;
    font-size: 0.7em;
    text-transform: uppercase;

}

.msg-recepcao{
    position: relative;
    text-shadow: 3px 3px 3px black;
    color: #fff;
    font-size: 0.7em;
    padding: 0px 54px;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 5%;
}

.navbar-nav {
    position: relative;
    margin: 0px auto;
    padding-bottom: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    /*right: 15%;*/
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.7rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    font-weight: bold;
  }

/*Serviços------------------------------------------------------------------------------------------------------------------------------------------
*/

.botao-imagens-menu-1 {
    position: relative;
    background: url('imagens/imagem-cabelo.PNG')no-repeat;
    background-size: cover;
    min-height: 200px;
    /*min-width: 469.75px;*/
    min-width: 100%;
    transition: min-height 0.2s;
    display: inline-block; 
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.botao-imagens-menu-2{
    position: relative;
    background: url('imagens/imagem-unha.PNG')no-repeat;
    background-size: cover;
    min-height: 200px;
    /*min-width: 469.75px;*/
    min-width: 100%;
    transition: min-height 0.2s;
    display: inline-block; 
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}



.botao-imagens-menu-3{
    position: relative;
    background: url('imagens/imagem-maquiagem.PNG')no-repeat;
    background-size: cover;
    min-height: 200px;
    /*min-width: 469.75px;*/
    min-width: 100%;
    transition: min-height 0.2s;
    display: inline-block; 
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.conteudo-servicos{
    text-align: justify;
    word-wrap: break-word;
    background-color: #000;
    border: 5px solid #fff;
    font-weight: bold;
    max-width: 24%;
    transition: border 0.5s;
    cursor: pointer;
    overflow: hidden;
}

.conteudo-servicos:hover{
    border: 5px solid #ffbf00;
    height: 100%;
}

.botao-imagens-menu-1:hover,.botao-imagens-menu-2:hover, .botao-imagens-menu-3:hover{
    min-height: 215px;
    background-size: cover;
}

/*titulo-Serviços------------------------------------------------------------------------------------------------------------------------------------------
*/

.titulo-servicos{
    font-size:1.3em;
}
   
}







 /* resolução HD*/
@media (min-width: 1024.99px) and (max-width: 1280.98px) {

  /*Barra de navegação------------------------------------------------------------------------------------------------------------------------------------------
  */
.navbar-dark .navbar-nav .nav-link{
    text-shadow: 3px 3px 3px black;
    color: #fff;
    font-size: 0.9em;
    padding: 0px 54px;
    text-transform: uppercase;

}

.navbar-dark .navbar-nav .nav-link:hover{
	text-shadow: 3px 3px 3px black;
    color: #ffbf00;
    font-size: 0.9em;
    text-transform: uppercase;

}

.msg-recepcao{
    position: relative;
    text-shadow: 3px 3px 3px black;
    color: #fff;
    font-size: 0.9em;
    padding: 0px 54px;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 9%;
}

.navbar-nav {
    position: relative;
    margin: 0px auto;
    padding-bottom: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    /*right: 15%;*/
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.9rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    font-weight: bold;
  }
  

/*Serviços------------------------------------------------------------------------------------------------------------------------------------------
*/

.botao-imagens-menu-1 {
    position: relative;
    background: url('imagens/imagem-cabelo.PNG')no-repeat;
    background-size: cover;
    min-height: 210px;
    /*min-width: 469.75px;*/
    min-width: 100%;
    transition: min-height 0.2s;
    display: inline-block; 
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.botao-imagens-menu-2{
    position: relative;
    background: url('imagens/imagem-unha.PNG')no-repeat;
    background-size: cover;
    min-height: 210px;
    /*min-width: 469.75px;*/
    min-width: 100%;
    transition: min-height 0.2s;
    display: inline-block; 
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}



.botao-imagens-menu-3{
    position: relative;
    background: url('imagens/imagem-maquiagem.PNG')no-repeat;
    background-size: cover;
    min-height: 210px;
    /*min-width: 469.75px;*/
    min-width: 100%;
    transition: min-height 0.2s;
    display: inline-block; 
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.conteudo-servicos{
    text-align: justify;
    word-wrap: break-word;
    background-color: #000;
    border: 5px solid #fff;
    font-weight: bold;
    max-width: 24%;
    transition: border 0.5s;
    cursor: pointer;
    overflow: hidden;
}

.conteudo-servicos:hover{
    border: 5px solid #ffbf00;
    height: 100%;
}

.botao-imagens-menu-1:hover,.botao-imagens-menu-2:hover, .botao-imagens-menu-3:hover{
    min-height: 225px;
    background-size: cover;
}

/*titulo-Serviços------------------------------------------------------------------------------------------------------------------------------------------
*/

.titulo-servicos{
    font-size:1.5em;
}

}











 /* resolução HD+ */
 @media (min-width: 1280.98px) and (max-width: 1600.98px) {
   /*Barra de navegação------------------------------------------------------------------------------------------------------------------------------------------
  */
    .navbar-dark .navbar-nav .nav-link{
        text-shadow: 3px 3px 3px black;
        color: #fff;
        font-size: 1.1em;
        padding: 0px 54px;
        text-transform: uppercase;
    
    }

    .navbar-dark .navbar-nav .nav-link:hover{
        text-shadow: 3px 3px 3px black;
        color: #ffbf00;
        font-size: 1.1em;
        text-transform: uppercase;
    
    }

    .msg-recepcao{
        position: relative;
        text-shadow: 3px 3px 3px black;
        color: #fff;
        font-size: 1.1em;
        padding: 0px 54px;
        text-transform: uppercase;
        list-style-type: none;
        margin-right: 9%;
    }

    .navbar-nav {
        position: relative;
        margin: 0px auto;
        margin-left: 10%;
        padding-bottom: 5px;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        /*right: 15%;*/
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1.1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        font-weight: bold;
      }

    /*Serviços------------------------------------------------------------------------------------------------------------------------------------------
    */

    .botao-imagens-menu-1 {
        position: relative;
        background: url('imagens/imagem-cabelo.PNG')no-repeat;
        background-size: cover;
        min-height: 220px;
        /*min-width: 469.75px;*/
        min-width: 100%;
        transition: min-height 0.2s;
        display: inline-block; 
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
    }

    .botao-imagens-menu-2{
        position: relative;
        background: url('imagens/imagem-unha.PNG')no-repeat;
        background-size: cover;
        min-height: 220px;
        /*min-width: 469.75px;*/
        min-width: 100%;
        transition: min-height 0.2s;
        display: inline-block; 
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
    }
    
    
    
    .botao-imagens-menu-3{
        position: relative;
        background: url('imagens/imagem-maquiagem.PNG')no-repeat;
        background-size: cover;
        min-height: 220px;
        /*min-width: 469.75px;*/
        min-width: 100%;
        transition: min-height 0.2s;
        display: inline-block; 
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
    }

    .conteudo-servicos{
        text-align: justify;
        word-wrap: break-word;
        background-color: #000;
        border: 5px solid #fff;
        font-weight: bold;
        max-width: 24%;
        transition: border 0.5s;
        cursor: pointer;
        overflow: hidden;
    }
    
    .conteudo-servicos:hover{
        border: 5px solid #ffbf00;
        height: 100%;
    }

    .botao-imagens-menu-1:hover,.botao-imagens-menu-2:hover, .botao-imagens-menu-3:hover{
        min-height: 235px;
        background-size: cover;
    }

    /*titulo-Serviços------------------------------------------------------------------------------------------------------------------------------------------
    */

    .titulo-servicos{
        font-size:2em;
    }


}











  /* resolução Full HD */
  @media (min-width: 1919.98px){
    
  /*Barra de navegação------------------------------------------------------------------------------------------------------------------------------------------
  */
    .navbar-dark .navbar-nav .nav-link{
        text-shadow: 3px 3px 3px black;
        color: #fff;
        font-size: 1.3em;
        padding: 0px 54px;
        text-transform: uppercase;
    
    }

    .msg-recepcao{
        position: relative;
        text-shadow: 3px 3px 3px black;
        color: #fff;
        font-size: 1.3em;
        padding: 0px 54px;
        text-transform: uppercase;
        list-style-type: none;
        margin-right: 9%;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        /*right: 15%;*/
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1.1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        font-weight: bold;
      }

    /*Serviços------------------------------------------------------------------------------------------------------------------------------------------
    */

    .botao-imagens-menu-1 {
        position: relative;
        background: url('imagens/imagem-cabelo.PNG')no-repeat;
        background-size: 100%;
        min-height: 230px;
        /*min-width: 469.75px;*/
        min-width: 100%;
        transition: min-height 0.2s;
        display: inline-block; 
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
    }
    
    .botao-imagens-menu-2{
        position: relative;
        background: url('imagens/imagem-unha.PNG')no-repeat;
        background-size: 100%;
        min-height: 230px;
        /*min-width: 469.75px;*/
        min-width: 100%;
        transition: min-height 0.2s;
        display: inline-block; 
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
    }
    
    
    
    .botao-imagens-menu-3{
        position: relative;
        background: url('imagens/imagem-maquiagem.PNG')no-repeat;
        background-size: 100%;
        min-height: 230px;
        /*min-width: 469.75px;*/
        min-width: 100%;
        transition: min-height 0.2s;
        display: inline-block; 
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
    }

    .conteudo-servicos{
        text-align: justify;
        word-wrap: break-word;
        background-color: #000;
        border: 5px solid #fff;
        font-weight: bold;
        max-width: 24%;
        transition: border 0.5s;
        cursor: pointer;
        overflow: hidden;
    }
    
    .conteudo-servicos:hover{
        border: 5px solid #ffbf00;
        height: 100%;
    }

    

}