/*Formatações de corpo---------------------------------------------------------------------------------------------------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: left;
    align-items: center;
    background: url('imagens/beauty-salon.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box{
    position: absolute;
    height: 100vh;
    background: transparent;
    border-right: 1px solid #ffbf00;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.row{
    margin-right: 0px;
}


/*Formulario---------------------------------------------------------------------------------------------------------------------------------------------
*/
.logo-beauty-solutions{
    text-align: center;
}

.logo-beauty-solutions img{
    height: 150px;
}

.inputbox{
    position: relative;
    margin: 15px 0;
    width: 400px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: 2px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;

}

.form-value{
    padding: 10px;
}


.form-value h2{
    
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    padding: 18px;
}
/*imagens do formulario---------------------------------------------------------------------------------------------------------------------------------------------
*/

.inputbox i{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

/*Botões---------------------------------------------------------------------------------------------------------------------------------------------
*/

.custom-btn a{
    padding: 10px 0 ;
    width: 175px;
    height: 70px;
    background-color: transparent;
    text-align: center;
    margin:10px 15px;
    color: white;  
    text-shadow: 2px 2px 2px #000;
        
}

.custom-btn .selecionado{
    border: 2px solid #ffbf00;

}

.a{
    color: white;
}

.btn img{
    height: 30px;
}

.btn{
    color: white;
}


.custom-btn a:hover{
    color: white;
}   

.custom-btn .alternativa:hover{
    background-color: #ffbf00;
    border: 2px solid white;
}

.btn-login{
    background-color: #ffbf00;
    padding: 5px;
    width: 100%;
    color: #000;
    font-size: 1.2em;
    border-radius: 0.50rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-login:hover{
    background-color: #ffbf00;
    padding: 5px;
    width: 100%;
    color: white;
    font-size: 1.2em;
    border-radius: 0.50rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #000;
    border: 2px solid white;
}

/*Tratamento de erros----------------------------------------------------------------------------------------------------------------------------------------------------
*/

.exception{
    color: white;
    padding: 5px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

/*redirecionar para cadastro---------------------------------------------------------------------------------------------------------------------------------------------
*/

.create-account{
    color: white;
    text-shadow: 2px 2px 2px #000;
}

.create-account a{
    color: #ffbf00;
    text-decoration: none;
}

.create-account a:hover{
    color: #ffbf00;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #000;
}

/*area ilustrativa--------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.custom-box{
    display: flex;
    align-items: center;
    background: url('imagens/fundo.png')no-repeat;
    background-position: center;
    background-size: cover;

}

.perfil-cliente{
    display: flex;
    align-items: center;
    background: url('imagens/background-cliente.png')no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.perfil-profissional{
    display: flex;
    align-items: center;
    background: url('imagens/background-profissional.png')no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
}